#nav-bar {
    height: 80px;
    background-color: #00a087;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
    top: 0;
    position: fixed;
    width: 100%;
}

#nav-bar {
    .logo {
        height: 80px;
        width: 80px;
        float: left;    
    }

    .header {
        font-size: 200%;
        line-height: 65px;
        margin: 5px;
        float: left;
    }
}

.button {
    background-color: azure; /* Green */
    border: 3px black;
    color: darkgreen;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
    border-radius: 10px;
    height: 70px;
    font-size: 120%
}

.button:hover {
    background-color: white;
    color: black;
}
